# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
*.egg

# Virtual environments
venv/
ENV/
.env/
.envrc/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Pytest cache
.pytest_cache/

# MyPy cache
.mypy_cache/

# Logs and databases
*.log
db.sqlite3

# IDE / Editor configs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Environment variables
.env
*.ini
*.cfg

# MacOS files
.DS_Store

# Windows files
Thumbs.db
ntuser.dat

# Docker
*.dockerfile
docker-compose.override.yml